* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    padding: 20px;
    background-color: #f9f9f9;
}

.product-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.product-card {
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    transition: transform 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    
    border-radius: 10px;
}
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
}

.badge-tragop {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e5f2ff;
    color: #0066cc;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    border: 1px solid #0066cc;
}

.product-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    height: 60px;
}

.product-price {
    color: red;
    font-size: 22px;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
    color: gray;
    font-size: 14px;
    margin-left: 5px;
}

.discount-info {
    font-size: 12px;
    color: #555;
    margin: 5px 0;
}

.shipping-info {
    font-size: 12px;
    color: #555;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
}

.wishlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.wishlist-icon {
    font-size: 18px;
    color: red;
    cursor: pointer;
}

.stars {
    color: #ffcc00;
    font-size: 16px;
}